/* main styles page  */

/*rich black: 0D1B2A
oxford blue: 1b263b
bdazzled: 415a77
shadow blue: 778da9
platinum: e0e1dd*/

/*possible fonts
oswald
nunito
rubik
quicksand
*/

.shadowBlue{
    background-color: #778DA9;
}

.header{
    background-color: #E0E1DD;
    font-size:40px;
    display:flex;
    align-items: center;
    justify-content: center;
}

.richBlack{
    background-color: #0D1B2A;
}

.varela{
    font-family: 'Varela Round', sans-serif;
}

.rubik{
    font-family: 'Rubik', sans-serif;
}

body{
    margin: 0px;
    font-family: 'Varela Round', sans-serif;
    background-color: #778DA9;
}