/* main styles page  */

/*rich black: 0D1B2A
oxford blue: 1b263b
bdazzled: 415a77
shadow blue: 778da9
platinum: e0e1dd*/

/*possible fonts
oswald
nunito
rubik
quicksand
*/

/*making the image responsive*/
img{
    max-width: 100%;
    height: auto;
}

.row{
    margin-right:0px;
}

.col{
    padding-right:0px;
}

.container-fluid{
    padding-left: 0px;
    padding-right: 0px;
    margin:0px;
}

.bdazz{
    background-color: #415A77;
}

.shadowBlue{
    background-color: #778DA9;
}

.header{
    color: black;
    font-size:20px;
    display:flex;
    align-items: center;
    justify-content: center;
    height: 10vh;
}

a{
    color:black;
}

a:hover{
    color:text-info;
}

.richBlack{
    background-color: #0D1B2A;
}

.varela{
    font-family: 'Varela Round', sans-serif;
}

.rubik{
    font-family: 'Rubik', sans-serif;
}

body{
    margin-left: 0px;
    margin-right: 0px;
    font-family: 'Varela Round', sans-serif;
    background-color: white;
}

.navbar-toggler{
    border:2px solid;
}